.field--widget-semver-default fieldset .fieldset-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.field--widget-semver-default fieldset .fieldset-wrapper .form-item {
  white-space: nowrap;
  margin-right: 0.3em;
}
.field--widget-semver-default fieldset .fieldset-wrapper .form-item:last-of-type {
  margin-right: 0;
}
.field--widget-semver-default fieldset .fieldset-wrapper .form-item .description {
  text-align: center;
  font-size: smaller;
}
.field--widget-semver-default fieldset .fieldset-wrapper .form-type-number input {
  width: 10ch;
}
